.container{
    margin-bottom: 60px;
}
.carousel-item{
    background-color: #feeae9;
    border-radius: 10px;
    padding: 20px 120px;
}
.price{
    color: coral;
}
.but-now-button{
    background-image: linear-gradient(to bottom, #ff585b 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 9px 25px;
    cursor: pointer;
}